//Colors

$Primary-100: #ABDB06;
$Primary-75: #C0E444;
$Primary-50: #D4EC82;
$Primary-25: #EAF6C0;
$Primary-12: #F5FAE1;

$black-100: #1C1917;
$black-75:  #555351;
$black-50: #8D8C8B;
$black-25: #C6C5C5;

$nea:  #F2F3F7;
$nea2:  #F9F9FB;
$wht: #fff;

//fonts
$opf: 'Open Sans', sans-serif;

// border


$br: 100px;

$norm: normal;

$fs16: 16px;
$fs20: 20px;
$fs25: 25px;

$mobile-width: 600px;
$tablet-width: 1024px;




